@font-face {
    font-family: 'RobotoMono-VariableFont_wght';
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root {
	--page-height: 100vh;
	--page-width: 100vw;
	--page-margin: auto auto;
	--page-padding: 0;
	--page-font-family: 'RobotoMono-VariableFont_wght';
	--page-text-color: #8e9196;
	--page-text-color-hover: rgba(255,255,255,1.0);
	--page-background-color: #1a1e23;
	--tab-display: grid;
	--tab-background-color: rgba(255, 255, 255, 0.03);
	--display-none: none;
	--box-sizing: border-box;
    --width: 600px;
}

/* *:before,
*:after,
*,
::after,
::before {box-sizing: border-box;} */
html,

body {
	/* display: var(--tab-display); */
	/* margin: var(--page-margin); */
	font-family: 'RobotoMono-VariableFont_wght';
	color: #8e9196;
	background-color: #1a1e23;
}
p {padding: 0 1em;}
p span {color: var(--page-text-color-hover);}

.tab-container {
	display: grid;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	margin-top: 25px;
    margin: auto auto;
	border: solid rgba(255,255,255,0.03);
	border-radius: .5em;
    padding: 0;
    width: 100%;
	max-width: 800px;
}

input[type="radio"] {display: none;}

input:checked + label {
	color: var(--page-text-color-hover);
	background-color: rgba(255,255,255,0.0);
	transition: all 250ms;
}

label {
	cursor: pointer;
	transition: color 250ms;
	padding: .5em;
	border-right: solid 2px var(--page-background-color);
	background-color: var(--tab-background-color);
	text-align: center;
	transition: all 250ms;
    font-size: 14px; 
    border-radius: .1em;
}

.checklist-section{
    margin: auto auto;
    border: solid rgba(255,255,255,0.03);
    border-radius: .5em;
    width: 100%;
    max-width: 800px;
    /* display: block; */
    text-align: center;
    font-family: var(--page-font-family);
    margin-top: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.checklist-item{
    font-family: var(--page-font-family);
    /* background-color: rgba(255,255,255,0.03); */
    color: white;
    font-size: 13.25px;
    max-width: 667px;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
}
.checklist-item:hover {
    background-color: #555555;
}

@media screen and (min-width: 375px) {
	label {
		font-size: 20px; /* Increase font size */
	}
    .checklist-item {
		font-size: 13.25px; /* Increase font size */
	}
}

@media screen and (min-width: 480px) {
	label {
		font-size: 20px; /* Increase font size */
	}
    .checklist-item {
		font-size: 17.5px; /* Increase font size */
	}
}

@media screen and (min-width: 768px) {
	label {
		font-size: 22px; /* Further increase font size */
	}
    .checklist-item {
		font-size: 27px; /* Increase font size */
	}
}

@media screen and (min-width: 1024px) {
	label {
		font-size: 24px; /* Larger font size */
	}
    .checklist-item {
		font-size: 27px; /* Increase font size */
	}
}

@media screen and (min-width: 1200px) {
	label {
		font-size: 26px; /* Maximum font size */
	}
    .checklist-item {
		font-size: 27.5px; /* Increase font size */
	}
}

label:last-of-type {border: none; }
label:hover {
	color: var(--page-text-color-hover);
	background-color: rgba(255,255,255,0.05);
}

.tab-content {
	/* display: var(--tab-display); */
	grid-column: 1 / -1;
    display: block;
    text-align: center;

}

input#firstTabToggle:checked ~ .tab-content:not(:nth-of-type(1)),
input#secondTabToggle:checked ~ .tab-content:not(:nth-of-type(2)) {display: none;}

.firstTabHeader {
    font-size:40px;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:10px;
    color: #00b4ff;
    font-weight: bold;
}
.user-input{
    background-color:#1a1e23;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    margin-top:25px;
    margin-bottom:15px;
    margin-left:12px;
    margin-right:12px;
    width:400px;
    font-size:21px;
    font-family: var(--page-font-family);
    color:#ffffff;
   }
.user-input:focus {
    outline: none; /* Removes the default focus outline */
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
}
.fetch-button{
    color: #00b4ff;
    border-color: #00b4ff;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: var(--page-font-family);
    padding: 3px 15px;
    font-size:18px;
    margin-bottom:15px;
    margin-top:-5px;
}
.fetch-button:hover {
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff;
}
.overview-header-simbrief{
    font-size:20px;
    color:#fcfcfc;
    margin-bottom:8px;
}
.section-header{
    color: #00b4ff;
    text-transform: uppercase;
    font-family: var(--page-font-family);
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
}
.section-reset-button{
    font-family: var(--page-font-family);
    margin-left: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: #00b4ff;
    border-color: #00b4ff;
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid;
    font-size: 1rem;
    padding: 3px 6px;
}
.section-reset-button:hover {
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff;
}
.section-header-subtext{
    max-width: 500px;
    width: 100%;
    margin: 5px auto;
    font-size: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}
#reset-buttons-section{
    border: solid rgba(255,255,255,0.03);
    border-radius: .5em;
    width: 600px;
    margin-top: 5px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 30px);
    gap: 8px;
}
.section-master-reset-button{
    font-family: var(--page-font-family);
    cursor: pointer;
    outline: 0;
    display: grid;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 3px 6px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #00b4ff;
    border-color: #00b4ff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left:10px;
    user-select: none;
}
.section-master-reset-button:hover{
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff
}