@font-face {
    font-family: 'RobotoMono-VariableFont_wght';
    src: url('./fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

:root {
	--page-height: 100vh;
	--page-width: 100vw;
	--page-margin: auto auto;
	--page-padding: 0;
	--page-font-family: 'RobotoMono-VariableFont_wght';
	--page-text-color: #8e9196;
	--page-text-color-hover: rgba(255,255,255,1.0);
	--page-background-color: #1a1e23;
	--tab-display: grid;
	--tab-background-color: rgba(255, 255, 255, 0.03);
	--display-none: none;
	--box-sizing: border-box;
    --width: 600px;
}

html,

body {
	font-family: 'RobotoMono-VariableFont_wght';
	color: #8e9196;
	background-color: #1a1e23;
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

.tab-container {
	display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr;
	margin-top: 25px;
    margin: auto auto;
	border: solid rgba(255,255,255,0.03);
	border-radius: .5em;
    padding: 0;
	max-width: 800px;
}

input[type="radio"] {display: none;}

input:checked + label {
	color: var(--page-text-color-hover);
	background-color: rgba(255,255,255,0.0);
	transition: all 250ms;
}

label {
	cursor: pointer;
	transition: color 250ms;
	padding: .5em;
	border-right: solid 2px var(--page-background-color);
	background-color: var(--tab-background-color);
	text-align: center;
	transition: all 250ms;
    font-size: 22px; 
    border-radius: .1em;
}

label:last-of-type {border: none; }
label:hover {
	color: var(--page-text-color-hover);
	background-color: rgba(255,255,255,0.05);
}

input#firstTabToggle:checked ~ .tab-content:not(:nth-of-type(1)),
input#secondTabToggle:checked ~ .tab-content:not(:nth-of-type(2)) {display: none;}

.section-header-subtext{
    max-width: 85%;
    margin: 5px auto;
    text-align: center;
    font-size: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.reset-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto;
    border: solid rgba(255,255,255,0.03);
    border-radius: .5em;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin-top: 5px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.section-master-reset-button{
    font-family: var(--page-font-family);
    cursor: pointer;
    outline: 0;
    width: 100%;
    height: 100%;
    display: grid;
    font-weight: bold;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #00b4ff;
    border-color: #00b4ff;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
}

.checklist-section{
    margin: 5px auto;
    border: solid rgba(255, 255, 255, 0.05);
    border-radius: .5em;
    box-sizing: border-box;
    width: 100%;
    max-width: 800px;
}

.checklist-item{
    font-family: var(--page-font-family);
    color: white;
    box-sizing: border-box;
    max-width: 95%;
    margin: 8px auto;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
    word-wrap: break-word;
}

@media (min-width: 360px) {.checklist-item {font-size: 13.4px;}}
@media (min-width: 375px) {.checklist-item {font-size: 14px;}}
@media (min-width: 390px) {.checklist-item {font-size: 14.5px;}}
@media (min-width: 412px) {.checklist-item {font-size: 15.3px;}}
@media (min-width: 414px) {.checklist-item {font-size: 15.5px;}}
@media (min-width: 430px) {.checklist-item {font-size: 16.1px;}}
@media (min-width: 540px) {.checklist-item {font-size: 20px;}}
@media (min-width: 600px) {.checklist-item {font-size: 22.9px;}}
@media (min-width: 650px) {.checklist-item {font-size: 24px;}}
@media (min-width: 700px) {.checklist-item {font-size: 26px;}}
@media (min-width: 750px) {.checklist-item {font-size: 27px;}}
@media (min-width: 768px) {.checklist-item {font-size: 27px;}}




.checklist-item span:nth-child(3) {
    white-space: nowrap; /* Prevents the third span from breaking */
}

.checklist-item:hover {
    background-color: #555555;
}

.weather-container, .weather-container * {
    box-sizing: border-box;
}

.weather-container {
    display: grid; 
    box-sizing: border-box;
    border: solid rgba(255, 255, 255, 0.05);
    margin: 5px auto;
    border-radius: .5em;
    width: 100%;
    max-width: 800px;
    grid-template-columns: 1fr 1fr; 
    gap: 0px 10px; 
    grid-template-areas: "origin-weather-section destination-weather-section"; 
}

#origin-weather-section, #destination-weather-section {
    display: grid; 
    grid-template-rows: min-content min-content min-content min-content min-content min-content;
    margin: auto auto; 
    gap: 0px 0px; 
    margin-bottom: 10px;
    margin-top: 10px;
}

#origin-weather-section{ grid-area: 'origin-weather-section';}
#destination-weather-section{ grid-area: 'destinatio-weather-section';}

.weather-section [class*="data"], .weather-section [class*="icao"] {
    justify-self: left; 
    align-self: center;
    grid-area: var(--unique-grid-area); 
}

.conditions1, .conditions0, .clouds0, .clouds1{
    text-align: left;
    display: inline-block;
}

.titleconditions0, .conditions0-1, .titleconditions1, .conditions1-1, .titleclouds0, .cloud-data-0-0, .cloud-data-0-1, .cloud-data-0-2, .cloud-data-0-3, .titleclouds1, .cloud-data-1-0, .cloud-data-1-1, .cloud-data-1-2, .cloud-data-1-3{
    display: inline;
    margin-right: 8px;
}

.icao0{ --unique-grid-area: icao0;}
.wind-data0{--unique-grid-area: wind-data0;}
.temp-data0{ --unique-grid-area: temp-data0;}
.altimeter-data0{--unique-grid-area: altimeter-data0;}
.conditions0{--unique-grid-area: conditions0;}
.clouds0{ --unique-grid-area: clouds0;}

.icao1{ --unique-grid-area: icao1;}
.wind-data1{--unique-grid-area: wind-data1;}
.temp-data1{ --unique-grid-area: temp-data1;}
.altimeter-data1{--unique-grid-area: altimeter-data1;}
.conditions1{--unique-grid-area: conditions1-1;}
.clouds1{ --unique-grid-area: clouds1;}

/* Create Grid Areas */
#origin-weather-section {
    grid-template-areas: 
        "icao0"
        "wind-data0"
        "temp-data0"
        "altimeter-data0"
        "conditions0" 
        "clouds0";
}

#destination-weather-section {
    grid-template-areas: 
        "icao1"
        "wind-data1"
        "temp-data1"
        "altimeter-data1"
        "conditions1"
        "clouds1";
}

.section-header{
    display: flex;
    margin: 8px auto 4px auto;
    box-sizing: border-box;
    color: #00b4ff;
    justify-content: center;
    text-transform: uppercase;
    font-family: var(--page-font-family);
    font-weight: bold;
    font-size: 30px;
}
.section-header-reset-buttons{
    display: flex;
    justify-content: center;
}
.section-reset-button{
    font-family: var(--page-font-family);
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    font-weight: bold;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1.1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #00b4ff;
    border-color: #00b3ff00;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    align-self: center;
    width: 6em;
    height: 1.85em;
}
.section-header-checkall-button{
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.section-checkall-button{
    font-family: var(--page-font-family);
    box-sizing: border-box;
    cursor: pointer;
    outline: 0;
    font-weight: bold;
    line-height: 1.5;
    background-color: transparent;
    border: 1px solid transparent;
    font-size: 1.25rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #00b4ff;
    border-color: #00b3ff00;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;
    align-self: center;
    width: 8em;
    height: 1.85em;
}

.tab-content {
	/* display: var(--tab-display); */
	grid-column: 1 / -1;
    align-items: center;
    display: block;
    text-align: center;
    margin: auto auto;
}

#fetchButton{
    margin-right: 20px;
    margin-left: 20px;
}

.firstTabHeader {
    font-size:40px;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:10px;
    color: #00b4ff;
    font-weight: bold;
}
.user-input{
    background-color:#1a1e23;
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
    margin-top:25px;
    margin-bottom:15px;
    margin-left:12px;
    margin-right:12px;
    width: 95%;
    max-width:400px;
    font-size:22px;
    font-family: var(--page-font-family);
    color:#ffffff;
   }
.user-input:focus {
    outline: none; /* Removes the default focus outline */
    border-top-style:none;
    border-right-style:none;
    border-left-style:none;
}
.fetch-button{
    color: #00b4ff;
    border-color: #00b3ff00;
    border-radius: 6px;
    text-transform: uppercase;
    background-color: transparent;
    font-family: var(--page-font-family);
    padding: 3px 15px;
    font-size:22px;
    margin-bottom:15px;
    margin-top:-5px;
}
.fetch-button:hover {
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff;
}
.overview-header-simbrief{
    font-size:20px;
    max-width: 650px;
    color:#fcfcfc;
    margin-bottom:8px;
}
.section-reset-button:hover {
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff;
}
.section-checkall-button:hover {
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff;
}

.section-master-reset-button:hover{
    color: #fff;
    background-color: #00b4ff;
    border-color: #00b4ff
}