@font-face {
    font-family: 'JetBrainsMono';
    src: url('./fonts/JetBrainsMono.ttf') format('truetype');
  }

@font-face {
    font-family: 'NotoSansMono';
    src: url('./fonts/NotoSansMono.ttf') format('truetype');
}

/* Global Styles */
:root {
    --page-font: 'JetBrainsMono';
    --page-font-weight: bold;
    --container-max-width: 800px;
    --sFar-left: #1f3a5f; /* Hover Checklist Text */
    --sTab-Unselected-Text: #4d648d; /*Unslected Tab Text */
    --sSlider-On:#0f1c2e;
    --sSlider-Off: #e0e0e0;
    --sSlider-Button: #FFFFFF;
    --sChecklist-Hover: #e0e0e0;
    --sAccent-Text: #acc2ef; /*Header Text */
    --sSecond-Left: #3d4a80; /* Not Used */
    --sFirst-Left: #cee8ff; /*Reset and Check all*/
    --sBackground-Color: #0f1c2e;
    --sOff-Background: #1f2b3e; /*Main Button Background and Section Header */
    --sContainer-Background: #374357;
    --sMain-Text: #FFFFFF;
    --sFar-Right: #e0e0e0; /*Header SubText*/
    --secondary-accent-color: #ffcc80; /* Warning Colors */
}

.root-alternate {
    --page-font: 'JetBrainsMono';
    --page-font-weight: bold;
    --container-max-width: 800px;
    --sFar-left: #1f3a5f; /* Hover Checklist Text */
    --sTab-Unselected-Text: #313d44; /*Unslected Tab Text */
    --sSlider-On:#313d44;
    --sSlider-Off: #b6ccd8;
    --sSlider-Button: #fffefb;
    --sChecklist-Hover: #cccbc8;
    --sAccent-Text: #313d44; /*Header Text */
    --sSecond-Left: #3d4a80; /* Not Used */
    --sFirst-Left: #00668c; /*Reset and Check all*/
    --sBackground-Color: #fffefb;
    --sOff-Background: #d4eaf7; /*Main Button Background and Section Header */
    --sContainer-Background: #f5f4f1;
    --sMain-Text: #1d1c1c;
    --sFar-Right: #3b3c3d; /*Header SubText*/
    --secondary-accent-color: #ff8c00; /* Warning Colors */
}

.root-alternate-font{
    --page-font: 'NotoSansMono';
}

.root-alternate-background{
    --sBackground-Color: transparent;
}

.vr-scale {
    zoom: 200%;
}

body {
    background-color: var(--sBackground-Color);
    font-family: var(--page-font);
    font-weight: var(--page-font-weight);
    scrollbar-width: none; /* For Firefox */
}

body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}

/******* Header (Top of Page) Container Styles *******/
#header-container {
    box-sizing: border-box;
    margin: 10px auto auto auto;
    border: solid var(--page-container-border-color);
    background-color: var(--sContainer-Background);
    border: transparent;
    border-radius: 20px;
    max-width: var(--container-max-width);
    display: flex;
    flex-wrap: wrap;
}

/* Radio Button Styles */
#header-container input[type="radio"] {
    display: none;
}

/* Label Styles */
#header-container label[for="checkguide-radio"], 
#header-container label[for="settings-radio"], 
#header-container label[for="aircraft-radio"]  {
    cursor: pointer;
    box-sizing: border-box;
    padding: .5em;
    border-right: solid 0px var(--page-background-color);
    background-color: var(--sOff-Background);
    text-align: center; 
    font-size: 22px;
    border-radius: 0px;
    color: var(--sTab-Unselected-Text);
    flex-grow: 1;
    flex-basis: calc(33.33333% - 4px);
    margin-right: 0;
    transition: all 250ms;
}

#header-container label[for="checkguide-radio"] {
    border-top-left-radius: 20px;
}

#header-container label[for="settings-radio"]{
    border-top-right-radius: 20px;
}

#header-container label[for="settings-radio"]:last-of-type {
    border-right: none;
    margin-right: 0;
    flex-basis: calc(33.3333% - 2px);
}

#header-container label:hover,
#header-container input:checked + label {
    color: var(--sAccent-Text);
    background-color: var(--sContainer-Background);
}

/* Header visibilty settings */
#header-checkguide-container,
#header-aircraft-container,
#header-settings-container {
    display: none;
}

#header-container input#checkguide-radio:checked ~ #header-checkguide-container,
#header-container input#aircraft-radio:checked ~ #header-aircraft-container, 
#header-container input#settings-radio:checked ~ #header-settings-container {
    display:flex;
}

/************** Settings Tab ******************/
#header-settings-container{
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 8px;
}

/******* User Input - Settings Tab - Formatting *******/
#settings-user-input-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    padding: 25px 12px;
}

#settings-user-input-container input{
    box-sizing: border-box;
    background-color: var(--sContainer-Background);
    font-family: var(--sMain-Text);
    border-style: none none solid none;
    margin: 15px 0 15px 0;
    width: 100%;
    max-width: 500px;
    font-size: 22px;
    overflow: hidden;
    color: var(--sMain-Text);
}

#settings-user-input-container input:focus {
    outline: none;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
}

/******* Color Selection - Settings Tab - Formatting *******/
#color-settings-container, #no-flight-plan-option-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: auto;
    color: var(--sMain-Text);
    padding: 10px 12px 25px 12px;
}

#color-settings-container .sliderSwitch, #no-flight-plan-option-container .sliderSwitch{
    margin-right: 8px;
}

#color-settings-container span:not(.slider-round), #no-flight-plan-option-container span:not(.slider-round){
    margin-right: 15px;
    font-size: 21px;
    font-weight: 500;
}

/*************INSTURCTIONS-INFO***************/
#information-settings-container{
    color: var(--sMain-Text);
    font-weight: 400;
    padding: 0 25px 0 25px;
}

#information-settings-container li{
    margin-bottom: 25px;
}

/***************Check Guide Tab***************/
#header-checkguide-container{
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

#checkguide-title-container{
    box-sizing: border-box;
    margin-top: 15px;
    color: var(--sMain-Text);
    text-align: center;
    width: 100%;
}

#checkguide-title-container span:first-of-type {
    display: inline-block;
    font-size: 41px;
    width: 100%;
}

#checkguide-title-container span:nth-of-type(2) {
    display: inline-block;
    font-size: 20px;
}

#flight-overview-container{
    color: var(--sMain-Text);
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}

#overview-header-1{
    margin-bottom: 8px;
}

#main-button-container{
    box-sizing: border-box;
    margin-top: 15px;
    text-align: center;
    width: 100%;
    background-color: var(--sOff-Background);
    align-self: center;
}

#main-button-container .main-container-button {
    box-sizing: border-box;
    color: var(--sAccent-Text);
    background-color: transparent;
    font-weight: 600;
    font-family: var(--page-font);
    font-size: 26px;
    padding: 10px 20px 10px 20px;
    border: transparent;
    cursor: pointer; 
}

#main-button-container .main-container-button:hover{
    color: var(--secondary-accent-color);
    cursor: pointer; 
}

#error-checkguide-header{
    color: var(--secondary-accent-color);
    font-weight: 500;
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

/************** Aicraft Tab ******************/
/******* Aircraft Selection Container Formatting *******/
#header-aircraft-container{
    width: 100%;
}

#aircraft-list-container, #aircraft-checklist-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

#aircraft-list-container{
    /* margin-left: 9%; */
    justify-items: center;
}

#aircraft-list-container .aircraft-container, #aircraft-checklist-container .checklist-item-container{
    display: flex;
    box-sizing: border-box;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 25%;
    color: var(--sMain-Text);
}

.aircraft-checklist-container{
    flex-direction: column;
}

#aircraft-list-container .sliderSwitch, .checklist-item-container .sliderSwitch{
    margin-right: 8px;
    margin-left: 14px;
}

#aircraft-list-container span:not(.slider-round), .checklist-item-container span:not(.slider-round){
    margin-right: 15px;
    font-size: 21px;
    color:var(--sMain-Text);
    font-weight: 500;
}

/******* All Slider Button Formatting *******/
#color-settings-container .sliderSwitch, 
#header-aircraft-container .sliderSwitch, 
#no-flight-plan-option-container .sliderSwitch{
    position:relative;
    display: inline-block;
    width: 51px;
    height: 29px;
}

#color-settings-container .sliderSwitch input, 
#header-aircraft-container .sliderSwitch input, 
#no-flight-plan-option-container .sliderSwitch input{
    opacity: 0;
    width: 0;
    height: 0;
}

#color-settings-container .slider-round, 
#header-aircraft-container .slider-round, 
#no-flight-plan-option-container .slider-round{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--sSlider-Off);
    -webkit-transition: .4s;
    transition: .4s;
}

#color-settings-container .slider-round:before, 
#header-aircraft-container .slider-round:before, 
#no-flight-plan-option-container .slider-round:before{
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: var(--sSlider-Button);
    -webkit-transition: .4s;
    transition: .4s;
    flex-basis: 0;
}

#color-settings-container .sliderSwitch input:checked + .slider-round, 
#header-aircraft-container .sliderSwitch input:checked + .slider-round, 
#no-flight-plan-option-container .sliderSwitch input:checked + .slider-round{
    background-color: var(--sSlider-On);
}

#color-settings-container .sliderSwitch input:focus + .slider-round, 
#header-aircraft-container .sliderSwitch input:focus + .slider-round, 
#no-flight-plan-option-container .sliderSwitch input:focus + .slider-round{
    box-shadow: 0 0 1px var(--sSlider-On);
}

#color-settings-container .sliderSwitch input:checked + .slider-round:before, 
#header-aircraft-container .sliderSwitch input:checked + .slider-round:before,
#no-flight-plan-option-container .sliderSwitch input:checked + .slider-round:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
  }

#color-settings-container .slider-round, 
#header-aircraft-container .slider-round,
#no-flight-plan-option-container .slider-round{
    border-radius: 25px;
}

#color-settings-container .slider-round:before, 
#header-aircraft-container .slider-round:before,
#no-flight-plan-option-container .slider-round::before {
    border-radius: 25px;
}

/******* END Slider Button Styling *******/

/******* WEATHER CONTAINER STYLING ******/
#weather-container{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: transparent;
    border-radius: 8px;
    margin-top: 16px;
    font-size: 20px;
}

/* All child elements of #weather-container will inherit box-sizing: border-box; */
#weather-container *, #weather-container *::before, #weather-container *::after {
    box-sizing: inherit;
    word-break: break-all;
}

.weather-data0, .weather-data1{
    padding: 18px;
    font-weight: 400;
    text-align: center;
    color: var(--sFar-Right);
}

.icao0, .icao1{
    display: flex;
    color: var(--sAccent-Text);
    background-color: var(--sOff-Background);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    justify-content: center;
    margin-bottom: 8px;
    padding: 8px 0px 8px 0px;
    font-size: 22px;
}

#origin-weather-section {
    background-color: var(--sContainer-Background);
    border-radius: 20px;
    margin-right: 4px;
}

#destination-weather-section{
    background-color: var(--sContainer-Background);
    border-radius: 20px;
    margin-left: 4px;
}

.wind-data0, .temp-data0, .altimeter-data0, .conditions0, .clouds0,
    .wind-data1, .temp-data1, .altimeter-data1, .conditions1, .clouds1{
    padding: 5px 0px 5px 10%;
    text-wrap: normal;
    color: var(--sMain-Text);
    font-weight: 500;
}

.clouds0, .clouds1{
    padding-bottom: 12px;
}

.clouds0 span, .clouds1 span{
    padding-right: 8px;
}

/*#origin-weather-section div, #destination-weather-section div{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 6px;
    word-wrap: normal;
    font-size: 24px;
}

.cloud-info{
    padding-right: 8px;
}*/


/******* CHECKLIST STYLING *******/
#checklist-sections-container{
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.checklist-section{
    display: block;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
    border: transparent;
    background-color: var(--sContainer-Background);
    border-radius: 20px;
    margin-top: 16px;
}

.section-header{
    font-size: 32px;
    box-sizing: border-box;
    margin: 4px 0px 4px 0px;
    color: var(--sAccent-Text);
    background-color: var(--sOff-Background);
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 0px 10px 0px;
}

.section-header-checkall-button{
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px 0px 10px 0px;
    color: var(--sFirst-Left);
}

.checklist-item{
    display: flex;
    justify-content: center;
    margin: auto;
    font-size: 26px;
    font-weight: normal;
    box-sizing: border-box;
    max-width: 95%;
    min-width: 0;
    flex-wrap: wrap;
    color: var(--sMain-Text);
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    border-radius: 16px;
    user-select: none;
}

.checklist-item:hover{
    background-color: var(--sChecklist-Hover);
    color: var(--sFar-left);
    font-weight: 600;
}

.checklist-item.hover-effect {
    background-color: var(--sTab-Unselected-Text);
    color: var(--sFar-left);
    font-weight: 600;
}

@media (min-width: 350px) {.checklist-item {font-size: 17.4px;}}
@media (min-width: 525px) {.checklist-item {font-size: 19.4px;}}
@media (min-width: 565px) {.checklist-item {font-size: 20.4px;}}
@media (min-width: 610px) {.checklist-item {font-size: 22.4px;}}
@media (min-width: 655px) {.checklist-item {font-size: 24.4px;}}
@media (min-width: 695px) {.checklist-item {font-size: 25.4px;}}
@media (min-width: 735px) {.checklist-item {font-size: 27px;}}

.section-reset-button {
    box-sizing: border-box;
    color: var(--sFirst-Left);
    background-color: transparent;
    border-color: transparent;
    border-radius: 6px;
    font-family: var(--page-font);
    font-size: 26px;
    padding: 3px 15px;
    cursor: pointer;    
}

.section-reset-button:hover{
    color: var(--secondary-accent-color);
    background-color: transparent;
    border-radius: 30px;
}

.section-header-subtext{
    box-sizing: border-box;
    color: var(--sFar-Right);
    font-size: 24px;
    font-weight: 500;
    padding: 8px 5% 15px 5%;

}

.section-checkall-button {
    box-sizing: border-box;
    color: var(--sFirst-Left);
    background-color: transparent;
    border-color: transparent;
    border-radius: 6px;
    font-family: var(--page-font);
    font-size: 24px;
    padding: 3px 15px; 
    margin-top: 4px;
    margin-bottom: 8px;
    cursor: pointer;   
}

.section-checkall-button:hover{
    color: var(--secondary-accent-color);
    background-color: transparent;
    border-radius: 30px;
}

/****** RESET BUTTONS CONTAINER *******/

.reset-buttons{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto auto;
    border: transparent;
    background-color: var(--sContainer-Background);
    border-radius: .5em;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    max-width: 800px;
    margin-top: 16px;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    cursor: pointer; 
}

.section-master-reset-button {
    box-sizing: border-box;
    color: var(--sFirst-Left);
    background-color: transparent;
    border-color: transparent;
    border-radius: 6px;
    font-family: var(--page-font);
    font-size: 23px;
    padding: 0px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.section-master-reset-button:hover{
    color: var(--secondary-accent-color);
    background-color: transparent;
    border-radius: 30px;
    cursor: pointer; 
}